	<ol class="breadcrumb fn-mb-10">
		<li>
			<a href="/">账户总览 <i class="icon-chevron-thin-right"></i></a>
		</li>
		<li>
			收支明细
		</li>
	</ol>

	<div class="tables-title heading-FontColor fn-mb-10">
		收支明细
		<div class="table-title-btns">
			<a href="/">返回 <i class="icon-chevron-thin-right"></i></a>
		</div>
	</div>

	<!-- 搜索过滤 -->
    <form action="##" method="post" class="form-frame form-frame-filter fn-mb-10">
        <div class="form-layer-gray-box">
            <div class="form-group">
                <label class="form-control-label">
                    <span>时间</span><em>：</em>
                </label>
                <div class="form-control-wrap">
                    <div class="form-control-check" data-toggle="switcher" data-keep="true" data-item=".filter-check-item">
                        <label class="filter-check-item active"><input type="radio" name="month" checked />最近三个月</label>
                        <label class="filter-check-item"><input type="radio" name="month" />三个月前</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">
                    <span>状态</span><em>：</em>
                </label>
                <div class="form-control-wrap">
                    <div class="form-control-check" data-toggle="switcher" data-keep="true" data-item=".filter-check-item">
                        <label class="filter-check-item active"><input type="radio" name="type" checked />全部</label>
                        <label class="filter-check-item"><input type="radio" name="type" />成功</label>
                        <label class="filter-check-item"><input type="radio" name="type" />失败</label>
                        <label class="filter-check-item"><input type="radio" name="type" />处理中</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">
                    <span>关键字</span><em>：</em>
                </label>
                <div class="form-control-wrap form-control-helper">
                    <input type="text" class="form-control" placeholder="流水号" data-toggle="searchInput"  />
                    <button type="button" class="btn primary small-btn hidden">搜索</button>
                </div>
            </div>
        </div>
    </form>

	<!-- 数据统计 -->
	<div class="data-count-wrap count-wrap-btline fn-mb-20">
		<div>
			<ul class="date-count-ul">
				<li class="count-title">
					<h4>当前数据统计</h4>
					<span class="arrows-shadow"></span>
					<span class="arrows"></span>
				</li>
				<li>
					<h5>
						<span>总收入（元）</span>
						共&nbsp;{{ data.income }}&nbsp;笔
					</h5>
					<h2>
						{{ data.balance | currency:"" }}
					</h2>
				</li>
				<li>
					<h5>
						<span>总支出（元）</span>
						共&nbsp;{{ data.expend }}&nbsp;笔
					</h5>
					<h2>
						{{ data.drawable | currency:"" }}
					</h2>
				</li>
			</ul>
		</div>
	</div>


	<div class="section-title fn-mb-15 fn-pl-10">
        <span class="heading-FontColor">下载当前账单：</span>
        <a href="javascript:void(0);" class="link-standard fn-mr-10">XLS格式</a>
        <a href="javascript:void(0);" class="link-standard">CVS格式</a>
    </div>
<table class="table inverse">
    <colgroup>
        <col/>
        <col/>
        <col style="width:70px"/>
        <col/>
        <col/>
        <col style="width:78px"/>
    </colgroup>
    <thead>
    <tr>
        <th>创建时间</th>
        <th>流水号</th>
        <th>业务类型</th>
        <th>状态</th>
        <th>金额（元）</th>
        <th class="text-align-left th-ctrls">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list">
        <td>{{ item.time }}</td>
        <td>
            <p class="text-nowrap">{{ item.no }}</p>
        </td>
        <td>{{ item.type }}</td>
        <td>{{ item.status }}</td>
        <td ng-if="item.type == '提现' || item.type == '付款'" class="success-FontColor2">+{{ item.money }}</td>
        <td ng-if="item.type == '充值' || item.type == '收款'" class="warning-FontColor">-{{ item.money }}</td>
        <td class="text-align-left">
            <div class="table-ctrls">
                详情
                <span class="caret-down"></span>
                <div class="ctrls">
                    <a href="#/type/{{ item.type }}/id/{{ item.id }}">详情</a>
                    <a target="_blank" href="06公共页面-电子凭证.html">打印</a>
                </div>
            </div>
        </td>
    </tr>
    <!-- 暂无记录 -->
    <tr ng-hide="list.length">
        <td colspan="6" class="empty">
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
<!-- start 分页结构 -->
<div class="pagination-wrap text-align-center fn-mt-20">
    <p class="pull-left fs-12 lh-26">
        共0页，0条记录，每页显示20条。
    </p>
    <!-- 不同的分页最好提供绑定id，用id去绑定$(id).pagination(config); -->
    <ul class="pagination" id="j-page-xxx">
    </ul>
</div>
<!-- end 分页结构 -->