{% macro render(mb='fn-mb-20') %}
<div class="ar-wrapper {{ mb }}">
    <div class="ar-top">
        <div class="amountbox left">
            <h3>
                可提金额
                                            <span>
                                                单位：元
                                            </span>
            </h3>
            <h2>
                7,000,000,00
                <a href="03提现明细_提现.html" class="btn primary small-btn" style="margin-left: 10px;">提现</a>
            </h2>
        </div>
        <div class="amountbox">
            <h3>
                未来7天内可提金额
                                            <span>
                                                单位：元
                                            </span>
            </h3>
            <h2>
                3,000,000,00
            </h2>
        </div>
    </div>
    <div class="ar-bottom" id="arb">
        <p class="a">
            日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期
        </p>
        <p class="b">
            金额（元）
        </p>
        <div>
            <!-- 到时候在这一层加2个左右箭头结构，做banner滚动动作-->
            <ul class="arlist">
                <li>
                    <ul>
                        <li>
                            <p>
                                2015-11-01
                            </p>
                            <h6>
                                10,000.00
                            </h6>
                        </li>
                        <li>
                            <p>
                                2015-11-02
                            </p>
                            <h6>
                                25,000.00
                            </h6>
                        </li>
                        <li>
                            <p>
                                2015-11-03
                            </p>
                            <h6>
                                188,000.00
                            </h6>
                        </li>
                        <li>
                            <p>
                                2015-11-04
                            </p>
                            <h6>
                                178,800.00
                            </h6>
                        </li>
                        <li>
                            <p>
                                2015-11-05
                            </p>
                            <h6>
                                1,112,580,000.00
                            </h6>
                        </li>
                        <li>
                            <p>
                                2015-11-06
                            </p>
                            <h6>
                                9,000.00
                            </h6>
                        </li>
                        <li>
                            <p>
                                2015-11-07
                            </p>
                            <h6>
                                9,200.00
                            </h6>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <a class="sh-btn" href="###" id="sh" data-label="隐藏">
        展开
    </a>
</div>
{% endmacro %}
