{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

	{# 菜单导航 #}
	{{ navigator.current('nav1') }}

	<ol class="breadcrumb fn-mb-10">
		<li>
			<a href="01账户总览.html">账户总览 <i class="icon-chevron-thin-right"></i></a>
		</li>
		<li>
			<a href="01账户总览_收支明细.html">收支明细 <i class="icon-chevron-thin-right"></i></a>
		</li>
		<li>
			提现详情
		</li>
	</ol>

	<div class="tables-title heading-FontColor fn-mb-20">
		提现详情
		<div class="table-title-btns">
			<a href="javascript:history.go(-1)">返回</a>
		</div>
	</div>

	<!-- 状态提示 -->
	{{ Alert.success('提现成功', '提现凭证.html') }}
	{{ Alert.danger('提现失败', '提现金额已返回您的账户余额。') }}
	{{ Alert.loading('提现处理中') }}


	<div class="section fn-pt-10 fn-mb-20 heading-FontColor">
		<span>提现账户：</span> <em class="font-normal">海王星辰大药房</em>，招商银行  |  尾号1234
	</div>

	<table class="table table-border inverse">
		<colgroup>
			<col/>
			<col/>
			<col/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>业务类型</th>
				<th>创建时间</th>
				<th>流水号</th>
				<th>金额（元）</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>提现</td>
				<td>2015.05.25  16:20</td>
				<td>
					<p class="text-nowrap">TJZT20150520000001</p>
				</td>
				<td>1,500.00</td>
			</tr>
		</tbody>
	</table>
{% endblock %}


