{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

	{# 菜单导航 #}
	{{ navigator.current('nav3') }}


	<!-- 数据统计 -->
	<div class="data-count-wrap data-count-wrap-style4 clearfix">
		<div>

			<span class="h4 heading-FontColor fn-mr-5">账户余额</span>
			<strong class="h2 font-normal warning-FontColor">10,000,000.00</strong> 元

		</div>
	</div>
	{{ Amount.render('fn-mb-40') }}

	<div class="tables-title heading-FontColor">
		已提现记录
	</div>
	<div id="j-home-switcher" data-toggle="switcher" data-item=".filter-check-item" data-keep="true" class="form-frame-filter fn-mt-15 fn-mb-20 fn-pl-10">
		<span class="heading-FontColor fs-12">时间：</span>
		<a href="#3m" class="filter-check-item active">最近三个月</a>
		<a href="#b3m" class="filter-check-item">三个月前</a>
	</div>
	<table class="table inverse">
		<colgroup>
			<col/>
			<col/>
			<col/>
			<col/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>创建时间</th>
				<th>流水号</th>
				<th>金额（元）</th>
				<th>银行账户</th>
				<th>状态</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2015.05.20  16:56</td>
				<td>
					<p class="text-nowrap">TJZT20150520000002</p>
				</td>
				<td>650.00</td>
				<td>招商银行|尾号1234</td>
				<td>处理中</td>

			</tr>
			<tr>
				<td>2015.05.20  16:56</td>
				<td>
					<p class="text-nowrap">TJZT20150520000003</p>
				</td>
				<td>150.00</td>
				<td>招商银行|尾号1234</td>
				<td>成功</td>

			</tr>
			<tr>
				<td>2015.05.20  16:56</td>
				<td>
					<p class="text-nowrap">TJZT20150520000003</p>
				</td>
				<td>150.00</td>
				<td>招商银行|尾号1234</td>
				<td>成功</td>

			</tr>
			<tr>
				<td>2015.05.20  16:56</td>
				<td>
					<p class="text-nowrap">TJZT20150520000003</p>
				</td>
				<td>150.00</td>
				<td>招商银行|尾号1234</td>
				<td>成功</td>

			</tr>
			<tr>
				<td>2015.05.20  16:56</td>
				<td>
					<p class="text-nowrap">TJZT20150520000003</p>
				</td>
				<td>150.00</td>
				<td>招商银行|尾号1234</td>
				<td>成功</td>

			</tr>
			<tr>
				<td>2015.05.20  16:56</td>
				<td>
					<p class="text-nowrap">TJZT20150520000003</p>
				</td>
				<td>150.00</td>
				<td>招商银行|尾号1234</td>
				<td>失败</td>

			</tr>
		</tbody>
	</table>
	{# 分页 #}
	{{ Pager.render() }}

{% endblock %}

