{% extends "_layout/wrapper.html" %}

{# content内容 #}
{% block content %}

	{# 菜单导航 #}
	{{ navigator.current('nav5') }}

	{# 面包屑导航 #}
	<ol class="breadcrumb fn-mb-10">
		<li>
			<a href="05账户管理企业.html">账户管理 <i class="icon-chevron-thin-right"></i></a>
		</li>
		<li>
            重置支付手机号码
		</li>
	</ol>

    {{ Step.render('pass2', '设置新手机号码', '企业用户安全验证', '验证结果', '') }}

	{# 设置支付密码 #}
    <div class="form-frame">
        <!-- 验证提示 -->
        {{ Alert.loading('您好！为验证信息的真实有效性，期间需支付小额验证金，审核通过后该笔资金可用于交易或提现，如有疑问致电 xxx-xxxxxxxx 。') }}



        <div class="form-layer1">
            <div class="form-layer2">
                <div class="form-group">
                    <label class="form-control-label">
                        <span>
                            企业账户
                        </span>
                        <em>
                            ：
                        </em>
                    </label>
                    <div class="form-control-wrap">
                        <div class="form-control-data">
                            <span class="h4">长江服务有限公司</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">
                                <span>
                                    对公账户
                                </span>
                        <em>
                            ：
                        </em>
                    </label>
                    <div class="form-control-wrap">
                        <div class="form-control-data">
                            <span class="bank-icon icon-cmb" title="招商银行"></span>
                            <span class="form-control-bank-card">招商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
                        </div>
                        <div class="action"><i class="font-normal">注：</i>必须使用该绑定账户进行充值验证，否则该修改手机号码失败。</div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-control-label">
                        <span>
                            验证金额
                        </span>
                        <em>
                            ：
                        </em>
                    </label>
                    <div class="form-control-wrap">
                        <div class="form-control-data">
                            <span class="validate-num"><strong class="warning-FontColor">0.10</strong> 元</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control-wrap text-align-left plural-btns margin-top-20px">
                        <button type="button" class="btn primary" tabindex="1">支付验证</button>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
