{% extends "_layout/wrapper.html" %}

{# content内容 #}
{% block content %}

	{# 菜单导航 #}
	{{ navigator.current('nav5') }}

	{# 面包屑导航 #}
	<ol class="breadcrumb fn-mb-10">
		<li>
			<a href="06账户管理个人.html">账户管理 <i class="icon-chevron-thin-right"></i></a>
		</li>
		<li>
			添加银行卡
		</li>
	</ol>

	{# 添加银行卡 #}
	<div class="tables-title title-border heading-FontColor">
		添加银行卡
	</div>
	<!-- 处理中... -->
	{{ Notice.wait() }}

    <!-- 等待中 -->
    <div class="notice-wrap info">
        <div class="notice-box">
            <span class="notice-img"></span>
            <h3>
                已受理
            </h3>
            <p>
                绑卡处理中，您可在 <a href="06账户管理个人.html" class="link-standard">账户管理</a> 中查看绑卡结果
            </p>
        </div>
    </div>
    <br/>

	<!-- 成功 -->
	<div class="notice-wrap success">
		<div class="notice-box">
			<span class="notice-img"></span>
			<h3>
				添加银行卡成功
			</h3>
			<a href="06公共页面-收银台-收银台（充值）.html" class="link-standard">马上充值</a>
			<a href="01账户总览.html" class="link-standard link-border">返回账户总览</a>
		</div>
	</div>
{% endblock %}
