{% extends "_layout/wrapper.html" %}

{% block bodyClass %} ng-app="ListApp" ng-controller="MainController"{% endblock %}

{# content内容 #}
{% block content %}
<div class="main-body">
    {# 菜单导航 #}
    <div ng-include="'/template/nav.html'"></div>

    {# 内容 #}
    <div ng-view></div>
</div>
{% endblock %}

{% block jsPage %}
<script src="{{ static }}/js/ToProgress.min.js"></script>
<script src="{{ bower_components }}/angular/angular.min.js"></script>
<script src="{{ bower_components }}/angular-route/angular-route.min.js"></script>
<script src="{{ static }}/js/app/list.js"></script>
{% endblock %}

