{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

<div class="mod-agreement">
    <div class="ui-tit">
        <h2>服务协议</h2>
        <p>版本号:2015年V1</p>
    </div>

    <div class="ui-subTitle">
        <p>本协议由您（以下称“甲方”）和广东钱途互联商务服务有限公司（以下称“乙方”）共同签署。</p>
        <p>甲乙双方经友好协商，本着平等自愿、诚实信用的原则，就甲方使用乙方提供服务有关事项达成如下协议：</p>
    </div>

    <div class="ui-content">
        <h3>一、服务概述</h3>
        <div class="content">
            <p>甲方通过使用乙方服务，实现将银行账户绑定至乙方（或与乙方合作的第三方）提供的网站平台账号，并将自有资金按照事先设定的条件经乙方撮合自动投资于商业银行互联网金融平台上的融资项目标的（投资的具体商业银行平台标的以页面提示为准）。当甲方需要通过乙方的服务向第三方付款或接受第三方款项时，甲方将自动投资所获得的债权或其他权益份额委托乙方进行撮合并转让予其他方，实现份额对应款项的支付。甲方确认在签署本协议时，已知悉本协议的全部条款内容，并予以认可。</p>
        </div>

        <h3>二、服务内容</h3>
        <div class="content">
            <h4>（一）银行账户绑定</h4>
            <ul>
                <li>1. 银行卡（银行账户）绑定服务，是指由乙方向甲方提供的银行卡（银行账户）绑定并通过乙方撮合进行投资支付或获得相关回款的服务。甲方使用乙方本协议项下相关服务前，需要在相关平台页面输入甲方自有银行卡卡号（银行账户账号）及银行预留手机号码等信息，经乙方与银行信息交互及系统校验通过后完成支付。</li>
                <li>2. 相关平台服务的上述流程和功能可能随时调整和变更，具体以乙方实际提供为准。</li>
                <li>
                    3. 在使用相关平台银行卡（银行账户）绑定服务前，用户需符合下列要求：
                    <p>（1） 用户使用本服务符合当地的法律法规，并能独立承担法律责任。</p>
                    <p>（2） 用户已开设了有效的银行账户。</p>
                    <p>（3） 用户需提供真实、有效、完整的银行卡（银行账户）等信息，并及时更新。</p>
                </li>
            </ul>
            <h4>（二）自动投资</h4>
            <ul>
                <li>1. 乙方根据甲方确认，自动选择乙方合作商业银行互联网投融资平台提供的融资项目，并与商业银行平台服务商共同实现撮合甲方投资于融资项目。甲方确认同意接受乙方选择的平台融资项目，并自投资款发放至融资项目融资人指定的银行账户之日起，视同甲方和融资人正式确立借贷或权益转让关系。</li>
                <li>2. 乙方（或与乙方合作的第三方）及合作商业银行互联网投融资平台上的相关协议、说明及规则，与本协议共同构成完整的投融资合同框架体系。甲方使用自动投资服务的投资标的为授权乙方代为选择的融资项目（含他人转让的融资项目份额），甲方在选择所投资融资项目时，已确认清晰了解该融资项目所披露的信息。</li>
                <li>3. 如甲方持有权益到期，则甲方不可撤销地委托乙方继续将已到期权益份额对应的资金款项自动投资至其他融资项目。</li>
                <li>4. 甲方可通过乙方（或与乙方合作的第三方网站）所提供页面或其他方式了解查询经乙方撮合成功的投资项目收益率等详情。</li>
            </ul>
            <h4>（三）支付（自动转让）</h4>
            <ul>
                <li>1. 当甲方需要通过乙方的服务向第三方付款时，甲方将投资所获得的债权或其他权益（不含收益部分）份额委托乙方进行撮合并转让予其他方。当经乙方撮合的其他方足额获得相关份额后，视为甲方向第三方的支付操作已完成。</li>
                <li>2. 当甲方需要通过乙方的服务接受第三方款项时，甲方将接受乙方撮合的第三方将投资所获得的债权或其他权益份额的转让。当经乙方撮合的其他方足额转让相关份额且甲方收到后，视为甲方接受第三方的支付操作已完成。</li>
                <li>3. 甲方使用支付（自动转让）服务的转让标的为其已在平台上经乙方撮合，与具体融资人之间交易成功的融资项目的部分或全部权益份额，甲方在选择所转让的权益时，已确认清晰了解转让行为对自身权利义务的影响。</li>
                <li>4. 甲方使用乙方服务付款的对象必须为同样开通乙方服务功能的第三方，如果甲方付款的对象未开通乙方相关服务，则乙方可拒绝甲方本次支付请求。</li>
                <li>5. 如第三方通过乙方服务向甲方付款，则甲方同意乙方将该第三方所转让的权益份额登记至甲方名下，甲方自乙方登记之日起，持有该权益份额。</li>
                <li>6. 如甲方需要将其名下通过投资或第三方转让的权益份额提现到甲方银行账户的，应当根据本协议及开通乙方服务的网站平台的具体规则，将提现对应部分份额委托乙方进行撮合并转让予其他方，转让完成后获得的款项，由乙方清分至甲方依本协议绑定的银行账户中。如一个工作日内乙方未能撮合其他方接受提现相应提现份额的，乙方通过相应机制确保甲方提现成功。</li>
            </ul>
        </div>

        <h3>三、承诺及说明</h3>
        <div class="content">
            <p>1. 甲方保证其为履行本协议而向乙方提供的全部资料均真实、有效。</p>
            <p>2. 甲方保证用于投资/支付的资金来源合法，甲方是该资金的合法所有人，如有第三方对资金归属、合法性问题提出异议，由甲方自行解决。</p>
            <p>3. 甲方确认其所有操作均为其本人或其授权代理人的真实意思表示。</p>
            <p>4. 甲方选择使用自动投资服务所投资的资金，其计息时间、还款方式、还款时间等以乙方所选择网站平台上的投资服务协议、项目说明书等的相关约定为准，与本协议构成不可分割的一部分。</p>
            <p>5. 甲方应确保在服务期限内，其在平台所指定使用的银行账户内资金足以支付所甲方本人在平台相关页面所自行选择的金额。如因银行账户内资金不足导致自动投资操作无法实现的，本协议未生效，甲方将不再享有相应收益。</p>
            <p>6. 甲方应自行承担投资或转让所获收益的应纳税款。</p>
            <p>7. 甲方委托乙方按照乙方或开通乙方服务网站的规则，将甲方投资所得的全部或部分债权或其他权益转让给其他投资人从而实现款项支付。款项支付对应的甲方与第三方之间的交易是否生效不影响权益转让的有效性。</p>
            <p>8. 甲方签署本协议后，将委托乙方代为在甲方委托转让的权益范围内，撮合并转让予其他投资人，甲方一经确认委托乙方代为撮合，则不得撤销委托或主张转让无效。</p>
            <p>9. 乙方承诺向甲方所提供本协议所约定服务合法合规，乙方具备开展本协议所约定服务的满足现有法律、监管政策，如因此原因造成双方合作无法开展的，乙方应对甲方的损失承担赔偿责任。</p>
            <p>10. 乙方承诺向甲方所提供的全部融资项目均合法合规，符合现行中国大陆法律对投融资的相关要求，如因此原因，或因投资对象或项目原因造成甲方损失的，乙方应承担赔偿责任。</p>
        </div>

        <h3>四、风险提示</h3>
        <div class="content">
            <p>1.   甲方确认所委托的投资或转让，均需通过乙方撮合，且乙方撮合可能存在不成功，相关交易不成功的风险，由甲方承担。</p>
            <p>2.   甲方确认，投资收益或转让权益所得，经乙方撮合交易成功后，将在所公示的时间范围内到达甲方指定银行账户，但乙方不保证能实时到账，故甲方应当自行安排好相关时间，自行承担相关所得无法实时到账的风险。</p>
        </div>

        <h3>五、其他</h3>
        <div class="content">
            <p>1.   由于法律及监管政策变化或包括且不限于地震、火灾、战争、电力中断、黑客攻击、计算机病毒在内的非乙方原因系统或网络故障等不可抗力导致的交易中断、延误的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。</p>
            <p>2. 本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地法院提起诉讼。</p>
            <p>3. 双方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条被司法部门认定为违反所须适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
            <p>4. 甲方如在确认本协议后，其实际款项支付未按本协议所约定方式进行投资或转让的，具体款项支付所涉权利义务由甲方与第三方所签署或约定法律文本规范，本协议不对该笔款项产生法律效力。</p>
            </p>
        </div>

    </div>
</div>

{% endblock %}