{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

        <div class="errorpage-box">
            <h1>错误！
            </h1>
            <p>
                我把信息弄丢了，不要告诉我妈妈
            </p>
            <div class="error-tel">
                <p>
                    打小报告
                </p>
                <h5>
                    400-106-6698
                </h5>
            </div>
            <div>
                <a href="###" class="btn primary">
                    返回首页
                </a>
            </div>
        </div>

        <div class="errorpage-box">
            <h1>错误！
            </h1>
            <p>
                您的信息提交未成功，<br />
                请尝试关闭浏览器，重新打开信息提交页面，填写并及时提交您的身份信息
            </p>
            <div>
                <a href="###" class="btn primary">
                    返回首页
                </a>
            </div>
        </div>

        <div class="errorpage-box">
            <h1>页面超时！
            </h1>
            <p>
                页面超时，为保障您的资金安全，请重新打开页面。
            </p>
            <div>
                <a href="###" class="btn primary">
                    返回
                </a>
            </div>
        </div>

{% endblock %}


